@use "../../../styles/variables/sass-color-variables";

:host {
  width: 100%;
}

.generate-with-ai {
  display: flex;
  flex-direction: column;
}

.heading {
  padding: 20px 0;
  color: var(--primary-gray);
}

.title {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: var(--primary-gray);
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.spinner {
  margin: 0 auto;
  margin-top: 200px;
}

.secondary-text {
  line-height: 25px;
}

.input-row {
  margin-top: 5px;
}
.label-row {
  margin-top: 20px;
}
.label-row label {
  font-weight: 600;
}

.form-group {
  margin-bottom: 10px;

  input {
    &[type="text"] {
      width: 100%;
      border: solid 1px #cbcfd2;
      border-radius: 5px;
      line-height: 35px;
      padding: 0 10px;
    }
  }

  // button.add-btn {
  //   width: 13%;
  //   border-radius: 5px;
  //   background: #116acc;
  //   border: 0;
  //   color: #fff;
  //   margin-left: 10px;
  // }

  .input-row textarea {
    width: 100%;
    border: solid 1px #cbcfd2;
    border-radius: 5px;
    padding: 0px 5px;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
}

button.gray-button {
  border-radius: 5px;
  background: #616161;
  border: 0;
  color: #fff;
  padding: 15px;
}

button.submit {
  border-radius: 5px;
  background: var(--primary-blue);
  border: 0;
  color: #fff;
  padding: 15px;
  // margin-left: 15px;
}

.left-15 {
  margin-left: 15px;
}

.divider {
  margin-top: 150px;
  margin-bottom: 20px;
}

::placeholder {
  color: var(--primary-light-gray);
  font-style: normal;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: var(--primary-light-gray);
  font-style: normal;
}
