@use "../../../styles/variables/sass-color-variables";

footer {
  width: 100%;
  color: var(--primary-light-gray);
}

.footer-container {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
